@import './bootstrap.css';

html,
body {
	/* position: relative;
	width: 100%;
	height: 100%; */
	color:#606060;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.svlt-grid-container {
	border: 1px solid #dee2e6;
	border-top: none;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.svlt-grid-item {
	background: rgba(255, 255, 255, 1) !important;
	border: 1px solid rgba(211, 211, 211, 1) !important;
	border-radius: 5px 5px 0 0;
}

/* .table-container>table {
	display: flex;
	flex-direction: column;
	height: inherit;
}

.table-container>table>thead {
	flex-shrink: 0;
}

.table-container>table>thead>tr {
	display: flex;
}

.table-container>table>thead>tr>th:first-child {
	flex: 1;
}

.table-container>table>thead>tr>th {
	flex: 2;
}

.table-container>table>tbody {
	overflow-y: auto;
}

.table-container>table>tbody>tr {
	display: flex;
}

.table-container>table>tbody>tr>td:first-child {
	flex: 1;
}

.table-container>table>tbody>tr>td {
	flex: 2;
} */
.card{
	height: auto !important;
}