.redirect-button {
  float: right;
}
.loader_container{
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 80vh;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-width: 80vw;
  align-items: center;
}

:global(fieldset) {
  display: block;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
  border-image: initial;
  background: rgba(249,246,253, .20);
}
:global(legend){
  width: auto;
  font-size: 1.2rem;
  padding:0 5px;
}

:global(.card){
  height: auto !important;
}