.redirect-button {
  float: right;
}
.loader_container{
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 80vh;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-width: 80vw;
  align-items: center;
}